@font-face {
    font-family: 'Muli';
    /*src: url('../font/Muli/static/Muli-Black.ttf') format('truetype');*/
    /*src: url('../font/Muli/static/Muli-BlackItalic.ttf') format('truetype');*/
    /*src: url('../font/Muli/static/Muli-Bold.ttf') format('truetype');*/
    src: url('../font/Muli/static/Muli-BoldItalic.ttf') format('truetype');
    /*src: url('../font/Muli/static/Muli-ExtraBoldItalic.ttf') format('truetype');*/
}

.header-content-info{
    display: none;
}

.block-search{
    float: left!important;
    padding-left: 0!important;
}

.expert-mot{

}

.cont-slogan{
    font-size: 15px;
    font-family:'Muli';
}
#expert-mot, #piecedet-mot{
    color: rgb(54, 176, 210);
}
.cab_home_image_block p{
    font-size: 13px;
}
.title_rep{
    padding-top: 15px;
    text-transform: uppercase;
}
.bg-default{
    background-color: #36b0d2;
}
.bg-default .col-lg-7{
    padding-top: 50px   ;
}
.bg-default .text-bold{
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
.after_bold{
    font-size: 16px;
}
.text-bold-big{
    padding-top: 25px;
}
.para-ecla{
    padding-top: 25px;
    font-size: 15px;
}
.btn-plus{
    border: solid 2px white;
    border-radius: 5px;
    width: 112px;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 11px;
}
.class_bolder{
    font-size: 16px;
    text-transform: uppercase;
}
.under_bolder{
    font-size: 13px;
}
.engage_text{
    font-size: 23px;
    text-align: center;
}
.engage_textdown{
    font-size: 15px;
    text-align: center;
}
.container_blog{
    height: 400px;
}

.up_cont_one,.right_blog_cont,.sub_container_blog, .left_blog_cont{
    height: 100%;
}
.up_cont_one_sub2,.up_cont_one_sub1,.up_cont_two_sub2, .up_cont_two_sub1{
    height: 50%;
}
